.list-view:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#lists .list-cell:filled:selected:hover {
    -fx-background-color: derive(-fx-control-inner-background, 30%);
    /*-fx-effect: innershadow(gaussian, #79c9e9, 15, 0.02, 0, 0);*/
}

#lists .list-cell:filled:selected {
    -fx-selection-bar: #CAF0F8;
    -fx-border-color: #04839f;
    -fx-selection-bar-non-focused: #CAF0F8;
    -fx-background-color: #CAF0F8;
    /*-fx-effect: innershadow(gaussian, #79c9e9, 15, 0.02, 0, 0);*/
}

#lists .list-cell, #lists .list-cell:focused {
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: transparent;
    -fx-padding: 0 7;
    /*-fx-pref-height: 100%;*/
}

#lists .list-cell:empty {
    -fx-background-color: transparent;
}

#list-background:hover {
    -fx-background-radius: 10;
    -fx-background-color: derive(-fx-control-inner-background, +30%);
    /*-fx-effect: innershadow(gaussian, #79c9e9, 15, 0.02, 0, 0);*/
}

#list .list-cell:filled:hover {
    -fx-border-color: #04839f;
}

#list-background {
     -fx-background-color: #CAF0F8;
     -fx-background-radius: 10;
 }

#lists {
    -fx-background-color: #A2E4F1;
    -fx-control-inner-background: #CAF0F8;
    -fx-border-style: none;
    -fx-padding: 6;
    -fx-background-radius: 10;
}

#list {
    -fx-control-inner-background: #CAF0F8;
    -fx-padding: 3;
}

#list .list-cell, #list .list-cell:focused {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-padding: 3 3;
    -fx-alignment: center;
    -fx-pref-width: 100%;
}

#card {
    -fx-background-color: #00B4D8;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.normal-button:hover {
    -fx-background-color: #F8FDFE;
    -fx-text-fill: #00B4D8;
    -fx-border-color: #00B4D8;
    -fx-border-width: 1.5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.normal-button {
    -fx-background-color: #00B4D8;
    -fx-text-fill: #F8FDFE;
    -fx-border-color: #00B4D8;
    -fx-border-width: 1.5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.normal-button:hover {
    -fx-background-color: #E4F8FC;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}


.add-button {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.add-button:hover {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#add-card:hover, #card-confirm:hover, #card-cancel:hover {
    -fx-background-color: #CAF0F8;
    -fx-text-fill: #00B4D8;
    -fx-border-color: #00B4D8;
    -fx-border-width: 1.5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#add-card, #card-confirm, #card-cancel {
    -fx-background-color: #4FCAE2;
    -fx-text-fill: #E4F8FC;
    -fx-border-color: #4FCAE2;
    -fx-border-width: 1.5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#card-confirm {
    -fx-padding: 0;
}

/* Style the scroll bar */
.scroll-bar:horizontal,
.scroll-bar:vertical {
    /*-fx-background-color: #E4F8FC; !* Change the background color *!*/
    -fx-background-color: transparent;
    -fx-padding: 0; /* Remove any padding */
}

/* Style the thumb */
.scroll-bar .thumb {
    -fx-background-color: #37a0cc; /* Change the background color */
}

/* Style the track */
.scroll-bar .track {
    -fx-background-color: transparent; /* Change the background color */
}

/* Style the arrows */
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-shape: " ";
    -fx-padding: 0;
    -fx-scale-shape: false;
}

/* Style the corner between two scroll panes */
.corner {
    -fx-background-color: transparent;
}

#delete-list, #delete-card {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: #37a0cc;
}

#delete-card {
    -fx-text-fill: #1e88b6;
}

#delete-list:hover, #delete-card:hover {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: #8f2e30;
}

.red-button {
    -fx-background-color: #C34042;
    -fx-text-fill: #F8FDFE;
    -fx-border-color: #C34042;
    -fx-border-width: 1.5;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.red-button:hover {
    -fx-background-color: #E4F8FC;
    -fx-text-fill: #C34042;
    -fx-border-color: #C34042;
    -fx-border-width: 1.5;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}
.image-button {
    -fx-background-image: url("copy-icon-img.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.image-button:hover {
     -fx-background-image: url("copy-icon-hover.png");
 }

.rename {
    -fx-background-image: url("edit-icon.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.rename:hover {
    -fx-background-image: url("edit-custom.png");
}

.search {
    -fx-background-image: url("search-icon.png");
    -fx-background-color: transparent;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}

.search:hover {
    -fx-background-image: url("search-custom.png");
}

.button, .button:hover, .titled-pane, .titled-pane:hover {
    -fx-cursor: hand;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.image {
    -fx-smooth: true;
}

.text-field {
    -fx-background-color: #F8FDFE;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-prompt-text-fill:  #665A5D;
    -fx-text-fill: #231f20;
}

.tooltip {
    -fx-background-color: #00B4D8;
    -fx-opacity: 0.8;
    -fx-font-family: Corbel;
    -fx-padding: 20 10 6 10px;
    -fx-effect: dropshadow(gaussian, #015164, 10, 0.01, 3, 3);
    -fx-shape: "M1379.53 1095.5C1389.99 1129.64 1406.11 1165.02 1419.4 1199.78L1431.78 1237.79 1584.24 1237.79C1643.48 1237.79 1691.5 1285.89 1691.5 1345.22L1691.5 1354.07C1691.5 1413.4 1643.48 1461.5 1584.24 1461.5L797.763 1461.5C738.523 1461.5 690.5 1413.4 690.5 1354.07L690.5 1345.22C690.5 1285.89 738.523 1237.79 797.763 1237.79L1281.61 1237.79 1320.9 1196.56C1345.49 1166.44 1364.93 1133.01 1379.53 1095.5Z"
}

/* style the Accordion */
.accordion {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.titled-pane {
    -fx-background-color: #CAF0F8;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-style: none;
}

.anchor {
    -fx-padding: 0;
}

.titled-pane .content {
    -fx-padding: 10px;
    -fx-background-color: #CAF0F8;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
}

.titled-pane .title {
    -fx-background-color: #00B4D8;
    -fx-padding: 10px;
    -fx-border-color: #00B4D8;
    -fx-border-width: 1.5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.titled-pane .arrow {
    -fx-background-color: white;
}

.list-view {
    -fx-background-color: #CAF0F8;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-style: none;
}

.titled-pane > .content {
    -fx-background-color: #CAF0F8;
    -fx-border-style: none;
    -fx-padding: 0;
}

.accordion:hover .titled-pane .title{
    -fx-background-color: #E4F8FC;
    -fx-border-color: #00B4D8;
    -fx-border-width: 1.5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.titled-pane:hover {
    -fx-text-fill: #00B4D8;
}

.accordion:hover .arrow {
    -fx-background-color: #00B4D8;
    -fx-effect: none;
}

.menu-vbox {
    -fx-cursor: default;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

#add {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

.tag-hbox {
    -fx-orientation: horizontal;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #00B4D8;
}

.rename-tag {
    -fx-content-display: center;
}

#server-list .list-cell {
    -fx-background-color: transparent;
    -fx-pref-width: 95%;
}

#server-list .list-cell:filled:hover {
    -fx-text-fill: black;
    -fx-border-color: #A2E4F1;
    -fx-border-width: 1.5px;
    -fx-border-radius: 8px;
}

#server-list .list-cell:selected {
    -fx-text-fill: black;
    -fx-border-color: #00B4D8;
    -fx-border-width: 1.5px;
    -fx-border-radius: 8px;
    -fx-background-color: #A2E4F1;
    -fx-background-radius: 8px;
}

#server-list .list-cell:selected:hover {
    -fx-border-color: #00B4D8;
    -fx-background-color: #79cdde;
 }


#server-list .list-cell .label {
    -fx-text-fill: #005364;
}